.HeaderBox
{
	width: 802px;
	height: 80px;
	margin: auto;
}
body
{
	background: #F2F2F2;
}
.Header
{
	width: 240px;
	height: 52px;
	margin: auto;
	background: white;
	border-top: 1px solid black
}
h3
{
	text-align: center;
}
.ImgBox
{
	height:180px; 
	width:802px;
}
img
{
	margin-left: 223px; 
}
.ContentBox1
{
	width: 802px;
	height: 100px;
}
.HeadContent
{
	width: 253px;
	height: 52px;
	margin-top: 20px;
	margin-left: 223px;
	background: white;
	padding-left: 15px;
	border-top: 1px solid black
}
.Content1
{
	margin-top: 10px;
	padding: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: 223px;
	background: white;
	border: 1px solid black;
	width: 515px;
}
.HeaderBox2
{
	margin-left: 224px;
	width: 822px;
	height: 55px;
	margin-top: 185px;
}
.HeaderContent1
{
	width: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 225px; 
	margin-right: 24px;
	background: white;
	border-top: 1px solid black;
	display: inline-block;
}
.HeaderContent2
{
	margin-right: 0px;
}

.Footer
{
	height: 200px;
}
.Box1
{
	width: 244px;
	height: 120px;
	background: white;
	border: 1px solid black;
	float: left;
	margin-right: 25px; 
	margin-left: 224px; 
	padding-left: 10px;
	padding-top: 10px;
}
.Box2
{
	width: 244px;
	height: 120px;
	background: white;
	border: 1px solid black;
	float: left;
	margin-right: 30px; 
	padding-left: 10px;
	padding-top: 10px;
}
.Box3{
	width: 244px;
	height: 120px;
	background: white;
	border: 1px solid black;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
}
a:visited{
	color: black;
}